body {
    font-family: Arial, sans-serif;
    margin: 0;
    color: #333;
}

header {
    background-color: #333;
    color: white;  
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

header nav a {
    margin: 0 10px;
    color: white;
    background-color: #4CAF50;
    text-decoration: none;
}

.main {
    display: flex;
    padding: 20px;
}

.features {
    flex: 3;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.features div {
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 5px;
}

.sidebar {
    flex: 1;
    background-color: #f4f4f4;
    padding: 10px;
}

footer {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

footer div {
    flex: 1;
    padding: 10px;
}
